language: go

go:
  - "1.12.x"

git:
  depth: 1

notifications:
  email: false

before_install:
  - go install
  - go get -u golang.org/x/lint/golint

script:
  - golint $(go list ./...)
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | VERSION=v0.20.0 bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux